<script>
    function scan4Led() {
        fetch('/scan').then(response => { })
    }
    function updateLed(lId) {
        fetch('/update/' + lId.toString()).then(response => { })
    }
</script>

<div class="pure-u-3-5">
    <p class="c-title">BlinkenLed's:</p>
</div>
<div class="pure-u-2-5">
    <button class="pure-button" onclick="scan4Led()">Scan</button>
</div>
{{#if blItems}}
<table class="pure-table">
    <thead>
        <th>#</th>
        <th>BLed</th>
        <th>last seen</th>
        <th>options</th>
    </thead>
    <tbody>
        {{#each blItems}}
        <tr>
            <td>{{this.index}}</td>
            <td><a href="/bled/{{this.key}}">{{this.ip}}</a></td>
            <td>{{this.lastSeen}}</td>            
            <td><i class='bx bx-cloud-upload' style="font-size: 1.5em;" onclick="updateLed({{this.key}})"></i></td>            
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="pure-u-1">
    <p>No Items found...</p>
</div>
{{/if}}